In [28]:
import pandas_datareader as pdr
import yfinance as yf
import pandas as pd

gdp = pdr.get_data_fred('GDP', start='2022-01-01')

In [29]:
gdp.tail(10)

                  GDP
DATE
2022-01-01  25029.116
2022-04-01  25544.273
2022-07-01  25994.639
2022-10-01  26408.405
2023-01-01  26813.601
2023-04-01  27063.012
2023-07-01  27610.128
2023-10-01  27956.998
2024-01-01  28269.174

In [34]:
# Definir fechas
start_date = "2022-01-01"
end_date = "2024-06-30"

# Obtener datos del Ã­ndice
sp500_data = yf.download("^SPX", start=start_date, end=end_date)

# Filtrar por fechas de inicio de trimestre
sp500_data["Month"] = sp500_data.index.month_name()
sp500_data["Quarter"] = sp500_data["Month"].apply(lambda x: int(x[0:1]))

qtr_start_data = sp500_data.groupby(["Year", "Quarter"]).last()

# Exportar a CSV
sp500_data.to_csv("output.csv", index=False)

[*********************100%%**********************]  1 of 1 completed

In [38]:
# Filtrar por fechas de inicio de trimestre
sp500_data["Month"] = sp500_data.index.month_name()
sp500_data.head(35)

,Open,High,Low,Close,Adj Close,Volume,Month
Date,,,,,,,
2022-01-03,4778.140137,4796.640137,4758.169922,4796.560059,4796.560059,3831020000,January
2022-01-04,4804.509766,4818.620117,4774.270020,4793.540039,4793.540039,4683170000,January
2022-01-05,4787.990234,4797.700195,4699.439941,4700.580078,4700.580078,4887960000,January
2022-01-06,4693.390137,4725.009766,4671.259766,4696.049805,4696.049805,4295280000,January
2022-01-07,4697.660156,4707.950195,4662.740234,4677.029785,4677.029785,4181510000,January
2022-01-10,4655.339844,4673.020020,4582.240234,4670.290039,4670.290039,4511810000,January
2022-01-11,4669.140137,4714.129883,4638.270020,4713.069824,4713.069824,4101590000,January
2022-01-12,4728.589844,4748.830078,4706.709961,4726.350098,4726.350098,4048220000,January
2022-01-13,4733.560059,4744.129883,4650.290039,4659.029785,4659.029785,4251730000,January
2022-01-14,4637.990234,4665.129883,4614.750000,4662.850098,4662.850098,4338490000,January
2022-01-18,4632.240234,4632.240234,4568.700195,4577.109863,4577.109863,4748700000,January
2022-01-19,4588.029785,4611.549805,4530.200195,4532.759766,4532.759766,4465740000,January
2022-01-20,4547.350098,4602.109863,4477.950195,4482.729980,4482.729980,4640870000,January
2022-01-21,4471.379883,4494.520020,4395.339844,4397.939941,4397.939941,5589100000,January
2022-01-24,4356.319824,4417.350098,4222.620117,4410.129883,4410.129883,6928110000,January
2022-01-25,4366.640137,4411.009766,4287.109863,4356.450195,4356.450195,5145050000,January
2022-01-26,4408.430176,4453.229980,4304.799805,4349.930176,4349.930176,5570640000,January
2022-01-27,4380.580078,4428.740234,4309.500000,4326.509766,4326.509766,5214200000,January
2022-01-28,4336.189941,4432.720215,4292.459961,4431.850098,4431.850098,5031090000,January
2022-01-31,4431.790039,4516.890137,4414.020020,4515.549805,4515.549805,5098610000,January
2022-02-01,4519.569824,4550.490234,4483.529785,4546.540039,4546.540039,4816830000,February
2022-02-02,4566.390137,4595.310059,4544.319824,4589.379883,4589.379883,4481580000,February
2022-02-03,4535.410156,4542.879883,4470.390137,4477.439941,4477.439941,4401970000,February
2022-02-04,4482.790039,4539.660156,4451.500000,4500.529785,4500.529785,4706290000,February
2022-02-07,4505.750000,4521.859863,4471.470215,4483.870117,4483.870117,4228480000,February
2022-02-08,4480.020020,4531.319824,4465.399902,4521.540039,4521.540039,4459620000,February
2022-02-09,4547.000000,4590.029785,4547.000000,4587.180176,4587.180176,4524350000,February
2022-02-10,4553.240234,4588.919922,4484.310059,4504.080078,4504.080078,5314860000,February
2022-02-11,4506.270020,4526.330078,4401.410156,4418.640137,4418.640137,5251500000,February
2022-02-14,4412.609863,4426.220215,4364.839844,4401.669922,4401.669922,4600390000,February
2022-02-15,4429.279785,4472.770020,4429.279785,4471.069824,4471.069824,4430830000,February
2022-02-16,4455.750000,4489.549805,4429.680176,4475.009766,4475.009766,4283640000,February
2022-02-17,4456.060059,4456.060059,4373.810059,4380.259766,4380.259766,4539420000,February
2022-02-18,4384.569824,4394.600098,4327.220215,4348.870117,4348.870117,4708060000,February
2022-02-22,4332.740234,4362.120117,4267.109863,4304.759766,4304.759766,5121900000,February

In [37]:
sp500_data["Quarter"] = sp500_data["Month"].apply(lambda x: int(x[0:1]))

sp500_data.head(35)

ValueError: invalid literal for int() with base 10: 'J'